@import './variable';

.ant-popover {
  .main-noti {
    padding: 12px 0 0 32px;
    h1 {
      color: #303d51;
      font-family: $fontFamily;
      font-size: 24px;
      font-weight: 500;
    }

    .noti-item {
      display: flex;
      $avatarSize: 50px;
      line-height: 3;
      padding-top: 10px;
      .img-wrap {
        max-width: $avatarSize;
        min-width: $avatarSize;
        height: $avatarSize;
        overflow: hidden;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: $avatarSize;
          width: auto;
        }
      }
      .noti-detail {
        padding: 0 0 0 16px;
        p {
          color: #303d51;
          font-family: $fontFamily;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
        }
        .noti-datetime {
          display: flex;
          justify-content: space-between;
          padding-right: 40px;
          span {
            color: var(--dark-sapphire-4, #303d51);
            font-family: $fontFamily;
            font-size: 14px;
            font-weight: 500;
          }
        }
        .ant-divider-horizontal {
          margin-top: 10px !important;
          margin: 9px 0 !important;
        }
      }
    }
    .noti-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .mark-read {
        color: #863288;
        font-family: $fontFamily;
        font-size: 14px;
        font-weight: 400;
        text-decoration-line: underline;
      }
      .noti-btn {
        background: #863288;
        border-radius: 4px;
        box-shadow: 0px 1px 1px 0px rgba(217, 221, 226, 0.05);
        padding: 8px 12px;
        color: var(--white, #fff);
        font-family: $fontFamily;
        font-size: 14px;
        font-weight: 500;
        width: 170px;
        height: 37px;
        margin-right: 2rem;
      }
    }
  }
  .ant-popover-inner {
    width: 419px;
    border-radius: 16px;
    border: 1px solid var(--border, #eee);
    background: var(--white, #fff);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.04);
  }
}
