.ant-layout-sider {
  margin: 0;
  padding: 0;
  max-width: 260px !important;
  min-width: 260px !important;
  background-color: white !important;
  position: sticky !important;
  top: 0;
  height: 100%;
  overflow: auto;
  padding: 8px;
  .nav-item {
    display: block;
    color: $textColor;
    padding: 16px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    span {
      margin-right: 0.15rem;
    }
    &.active {
      background-color: $themePrimaryColor;
      color: white;
    }
    &:hover:not(.active) {
      // background-color:  $themePrimaryColor;
      // color: white;
      cursor: pointer;
    }
  }
}
.oneload-logo {
  img {
    padding: 20px 14px 20px 18px;
  }
}
.sidebar {
  margin-top: 16px;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
